header {
  /* sets background colour to #111 */
  background-color: #111;
}
header {
  /* sets background colour to #111 */
  background-color: #111;
  font-family: "Baloo Tamma 2", cursive;

}
.logo {
  /* sets the border to 4px solid transparent */
  border: 4px solid transparent;
}

.logo:hover {
  /* sets the border-bottom to 4px solid transparent */
  border-bottom: 4px solid #da0e0e;
}

.name-heading {
  /* sets the font of main-heading */
  font-family: "Roboto Slab", serif;
  /* sets the font-size */
  font-size: 80px;
}

.name-heading:hover {
  /* sets the font-size */
  font-size: 100px;
  /* sets the border-bottom to 4px solid transparent */
  border-bottom: 2px solid orangered;
}

.name-intro {
  /* sets the font-size */
  font-size: 30px;
}

.navigation-link {
  /* sets the border-bottom to 2px solid transparent */
  border: 2px solid transparent;
}

.navigation-link:hover {
  /* sets the text-decoration:  to none; */
  text-decoration: none;
  /* sets the border-bottom to 4px solid transparent */
  border-bottom: 2px solid #18c46e;
  /* sets the transition to 0.5s */
  transition: 0.5s ease;
}

#name{
  /* border: 1px solid red; */
}
/* ANCHOR end of header  */

/* --------------------------HEADER---------------------------------------- */

.cont {

  /* setting background size to cover the division */
  background-size: cover;
  /* setting padding to 40px on left */
  padding: 40px;
  background-color: #c8d6e5;
}

.cont h1 {
  /* setting text align to center */
  text-align: center;
  /* setting colout to #ddd */
  color: #576574;
}

.form {
  /* setting max-width to 600px */
  max-width: 600px;
  /* setting margin to auto  */
  margin: auto;
  /* setting padding top to 10px */
  padding: 0 10px 0px 0px;
  /* hides the overflow */
  overflow: hidden;
}

.cft {
  /* setting display type to block */
  display: block;
  /* setting width to 100% */
  width: 100%;
  /* setting type of box to border-box */
  box-sizing: border-box;
  /* setting margin to 15px on the left */
  margin: 15px 0;
  /* setting border to 0px */
  border: 0px;
  /* setting backgrounf to #1111 */
  background-color: rgba(199, 18, 18, 0.067);
  /* setting padding to 20px on the left and 40px on top */
  padding: 20px 40px;
  /* setting outilne to none */
  outline: none;
  /* setting colour to #ddd */
  color: rgb(34, 28, 28);
  /* setting transition time to 0.5s */
  transition: 0.2s;
  font-size: 20px;
}

.cft textarea {
  /* setting setting resize to none */
  resize: none;
  /* setting height to 130px */
  height: 130px;
}

.form-send {
  /* setting float to right */
  float: right;
  /* setting border to 0px */
  border: 0px;
  /* setting background to #34495e */
  background: #34495e;
  /* setting colour to #fff */
  color: #fff;
  /* setting padding to 15px on left and 45px on top */
  padding: 15px 45px;
  /* setting border radius to 25px */
  border-radius: 25px;
  /* setting pointer notice while hovering cursor */
  cursor: pointer;
  /* setting transition time to 0.5s */
  transition: 0.5s;
}

.form-send:hover {
  /* setting colour change to  #29b948*/
  background: #29b948;
}

.feedback {
  /* setting the position to fixed  */
  position: fixed;
   /* setting the top to 100px */
  top: 100px;
  /* setting the right to auto */
  right: auto;
  /* setting the width to 1200px */
  width: 1200px;
   /* setting the height to auto */
  height: auto;
   /* setting the background-color to 34495e */
  background-color: #34495e ; 
  /* setting the padding to 20px */
  padding: 20px;
  /* setting the display to flex */
  display: flex;
  /* setting the  border-radius to 40px */
  border-radius: 40px;
  /* setting the align-content to center */
  align-content: center;
  /* setting the align-items to center */
  align-items: center;
  /* setting the flex-direction to row */
  flex-direction: row;
  /* setting the flex-grow to inherit */
  flex-grow: inherit;
  /* setting the opacity to 1 */
  opacity: 1;
  /* setting the display to none */
  display: none;
  /* transition: 1s; */

}
.error_message{
    /* setting the display to none, margin to 0px, padding to 0 and color to B53471*/
  display: none;
   margin: 0px;
  padding: 0px;
  color:#B53471;
}
#feedbackText {
  /* setting the font-size to 30px */
  font-size: 30px;
}
#feedbackName {
    /* setting the font-size to 30px */
  font-size: 30px;
}
#feedbackSendButton {
    /* setting the font-size to 30px, width to auto, margin to 5px, overflow-wrap to auto, float to right */
  font-size: 30px;
  width: auto;
  margin: 5px;
  /* flex-wrap: wrap; */
  /* overflow-wrap: auto; */
  float: right;
  /* overflow:hidde */
  
}
#feedbackEditButton {
    /* setting the font-size to 30px, width to auto, margin to 0px, overflow-wrap to auto, float to left */
  font-size: 30px;
  width: auto;
  margin: 0px;
  /* flex-wrap: wrap;
  overflow-wrap: auto; */
  float: left;
  /* overflow:hidde */
  
}
/* ANCHOR Starting of footer */

footer {
  /* setting the height to 90px */
  height: 90px;
  /* setting the background to 111 */
  background: #111;
}

.main-content {
  /* setting the float to center */
  /* float: center; */
  /* float: ; */
}

.main-content .box {
  /* setting the flex-basis to 50%, padding to 5px 10px, float to center */
  flex-basis: 50%;
  padding: 5px 10px;
  /* float: center; */
}

/* .box .content{
    margin: 20px 0 0 0;
    position: relative;
  } */
.box .content:before {
/* setting the content to "", height to 2px, width to 100% */
  content: "";
  height: 2px;
  width: 100%;
  /* background: #1a1a1a; */
}

.box .content:after {
/* setting the content to "", height to 2px, width to 15%, top to -10px */
  content: "";
  height: 2px;
  width: 15%;
  /* background: #f12020; */
  top: -10px;
}

.left .content p {
/* setting the text-align to justify */
  text-align: justify;
  /* float: center; */
}

.left .content .social {
/* setting the margin to 20px 0 0 0 */
  margin: 20px 0 0 0;
  /* float: center; */
}

.left .content .social a {
/* setting the padding to 0 2px */
  padding: 0 2px;
}

.left .content .social a span {
  /* setting the height to 40px, width to 40px, background to 1a1a1a, line-height to 40px, text-align to center, font-size to 18px, border-radius to 5px, transition to 0.3s */
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}

.left .content .social a span:hover {
/* setting the background to f12020 */
  background: #f12020;
}
/* ANCHOR chathox */
/* Button used to open the chat form - fixed at the bottom of the page */
.popEmail,
.popNumber {
  /* setting the width to 260px, height to 50px, color to f5f6fa, border-radius to 20px */
  width: 260px;
  height: 50px;
  color: #f5f6fa;
  border-radius: 20px;
  /* height: ; */
  /* width: auto; */
}
.popEmail:focus,
.popNumber:focus {
  /* setting the background-color to 273c75 */
  background-color: #273c75;
  /* height: ; */
  /* width: auto; */
}
.textPopMessage p {
  /* setting the font-size to 40px */
  font-size: 40px;
}
.opnBtn {
  /* setting the background-color to e1b12c, color to 7f8fa6, padding to 16px 20px, border to none, cursor to pointer, opacity to 0.8, position to fixed, bottom to 23px, right to 28px, border-radius to 40px */
  background-color: #e1b12c;

  color: #7f8fa6;

  padding: 16px 20px;

  border: none;

  cursor: pointer;

  opacity: 0.8;

  position: fixed;

  bottom: 23px;

  right: 28px;
  border-radius: 40px;

  /* width: 280px; */
}
.opnBtn:hover {
  /* setting the background-color to ffbb00 */
  background-color: #ffbb00;
}
.btnCancel {
  /* setting the border-radius to 40px, width to 280px, height to 50px */
  border-radius: 40px;
  width: 280px;
  height: 50px;
}
.btnCancel:hover,
.btnSubmit:hover {
  /* setting the background-color to rgb(204, 129, 38)*/
  background-color: rgb(204, 129, 38);
  /* height: 500px; */
}
.btnSubmit {
  /* setting the border-radius to 40px, width to 280px, height to 50px */
  border-radius: 40px;
  width: 280px;
  height: 50px;
}
/* The popup chat - hidden by default */

.popupDiv {
    /* setting the border-radius to 20px, display to none, position to fixed, bottom to 0, right to 15px, border to 3px solid f1f1f1*/
  border-radius: 20px;
  display: none;

  position: fixed;

  bottom: 0;

  right: 15px;

  border: 3px solid #f1f1f1;

  /* z-index: 9; */
}

/* Add styles to the form container */

.popupForm {
/* setting the max-width to 300 px, padding to 10px, background-color to white */
  max-width: 300px;

  padding: 10px;

  background-color: white;
}

/* Full-width textarea */

.popupForm textarea {
  /* setting the color to f5f6fa, width to 100%, padding to 15px, margin to 5px 0 22px 0, border to none, background to f1f1f1, resize to none, min-height to 150px, border-radius to 20px */
  color: #f5f6fa;
  width: 100%;

  padding: 15px;

  margin: 5px 0 22px 0;

  border: none;

  background: #f1f1f1;

  resize: none;

  min-height: 150px;
  border-radius: 20px;
}

/* When the textarea gets focus, do something */

.popupForm textarea:focus {
  /* setting the background-color to 273c75, outline to none */
  background-color: #273c75;

  outline: none;
}

/* Set a style for the submit/send button */

.popupForm {
   /* setting the background-color to 718093, color to white, padding to 16px 20px, border to none, cursor to pointer, width to 100%, margin-bottom to 10px, opacity to 1, border-radius to 20px */
  background-color: #718093;

  color: white;

  padding: 16px 20px;

  border: none;

  cursor: pointer;

  width: 100%;

  margin-bottom: 10px;

  opacity: 1;
  border-radius: 20px;
}

/* Add a red background color to the btnCancel button */

/* Add some hover effects to buttons */

.popupForm .btnSubmit:hover,
.opnBtn:hover {
  /* setting the opacity to 1 */
  opacity: 1;
}
@media all and (min-width: 360px) and (max-width: 767px) {
  .navbur {
    /* setting the display to flrx, flex-direction to column */
    display: flex;
    flex-direction: column;
    
  }

  .nav1 {
    /* setting the flex to 1 */
    flex: 1;
  }
  .feedback {
    /* setting the width to auto, height to auto, padding to 5px, margin to 2px, float to left, aling-content to center, aling-self to auto, overflow to inherit */
    width: auto;
    height: auto;
    padding:5px;
    margin:2px;
    float: left;
    align-content: center;
    align-self: auto;
    overflow:inherit;

  }
  #feedbackText {
    /* setting the font-size to 20px */
    font-size: 20px;
  }
  #feedbackName {
        /* setting the font-size to 20px */
    font-size: 20px;
  }
  #feedbackSendButton {
        /* setting the font-size to 20px, width to auto */
    font-size: 20px;
    width: auto;
  }
  #feedbackEditButton {
        /* setting the font-size to 20px,width to auto */
    font-size: 20px;
    width: auto;
  }
  #feedbackMessage
  {
  /* setting the height to auto, width to auto */
    height: auto;
    width: auto;
  }
}
.up-link {
  /* setting the position to fixed, left to 15px, width to 30px, bottom to 30px, border-radius to 60px, background-color to 9ccc65 */
  position: fixed;
  left: 15px;
  width: 30px;
  bottom: 30px;
  border-radius: 60px;
  background-color: #9ccc65;
}
@media all and (min-width: 768px) and (max-width: 1279px) {
  .feedback {
    /* setting the width to 600px, height to auto, padding to 10px */
    width: 600px;
    height: auto;
    padding:10px;
  }
  
  #feedbackText {
      /* setting the font-size to 20px */
    font-size: 20px;
  }
  #feedbackName {
     /* setting the font-size to 20px */
    font-size: 20px;
  }
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
}
