header {
	background-color: #111;
	/* border: 2px solid red; */
}
.logo {
	border: 4px solid transparent;
}

.logo:hover {
	border-bottom: 4px solid #da0e0e;
}

/* Main Heading Font */
.name-heading {
	font-family: "Roboto Slab", serif;
	font-size: 80px;
}

.name-heading:hover {
	font-size: 100px;
	border-bottom: 2px solid orangered;
}

.name-intro {
	font-size: 30px;
}

/* Navigation */
.navigation-link {
	border: 2px solid transparent;
}

.navigation-link:hover {
	text-decoration: none;
	border-bottom: 2px solid #18c46e;
	transition: 0.5s ease;
}

/* ANCHOR end of header  */

footer {
	/* position: fixed; */
	/* bottom: 0px;
    width: 100%; */
	height: 90px;
	background: #111;
}

.main-content {
	/* display: inline-block; */
	float: center;
}

.main-content .box {
	flex-basis: 50%;
	padding: 5px 10px;
	float: center;
}

/* .box .content{
    margin: 20px 0 0 0;
    position: relative;
  } */
.box .content:before {
	/* position: absolute; */
	content: "";
	/* top: -10px; */
	height: 2px;
	width: 100%;
	/* background: #1a1a1a; */
}

.box .content:after {
	/* position: absolute; */
	content: "";
	height: 2px;
	width: 15%;
	/* background: #f12020; */
	top: -10px;
}

.left .content p {
	text-align: justify;
	/* float: center; */
}

.left .content .social {
	margin: 20px 0 0 0;
	/* float: center; */
}

.left .content .social a {
	padding: 0 2px;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.3s;
}

.left .content .social a span:hover {
	background: #f12020;
}
/* ANCHOR chathox */

/* Button used to open the chat form - fixed at the bottom of the page */
.popEmail,
.popNumber {
	width: 260px;
	height: 50px;
	color: #f5f6fa;
	border-radius: 20px;
	/* height: ; */
	/* width: auto; */
}
.popEmail:focus,
.popNumber:focus {
	background-color: #273c75;
	/* height: ; */
	/* width: auto; */
}
.textPopMessage p {
	font-size: 40px;
}
.opnBtn {
	background-color: #e1b12c;

	color: #7f8fa6;

	padding: 16px 20px;

	border: none;

	cursor: pointer;

	opacity: 0.8;

	position: fixed;

	bottom: 23px;

	right: 28px;
	border-radius: 40px;

	/* width: 280px; */
}
.opnBtn:hover {
	background-color: #ffbb00;
}
.btnCancel {
	border-radius: 40px;
	width: 280px;
	height: 50px;
}
.btnCancel:hover,
.btnSubmit:hover {
	background-color: rgb(204, 129, 38);
	/* height: 500px; */
}
.btnSubmit {
	border-radius: 40px;
	width: 280px;
	height: 50px;
}
/* The popup chat - hidden by default */

.popupDiv {
	border-radius: 20px;
	display: none;

	position: fixed;

	bottom: 0;

	right: 15px;

	border: 3px solid #f1f1f1;

	/* z-index: 9; */
}

/* Add styles to the form container */

.popupForm {
	max-width: 300px;

	padding: 10px;

	background-color: white;
}

/* Full-width textarea */

.popupForm textarea {
	color: #f5f6fa;
	width: 100%;

	padding: 15px;

	margin: 5px 0 22px 0;

	border: none;

	background: #f1f1f1;

	resize: none;

	min-height: 150px;
	border-radius: 20px;
}

/* When the textarea gets focus, do something */

.popupForm textarea:focus {
	background-color: #273c75;

	outline: none;
}

/* Set a style for the submit/send button */

.popupForm {
	background-color: #718093;

	color: white;

	padding: 16px 20px;

	border: none;

	cursor: pointer;

	width: 100%;

	margin-bottom: 10px;

	opacity: 1;
	border-radius: 20px;
}
/* .card
{
    width: 600p;
    height: 400px;
} */
/* Add a red background color to the btnCancel button */

/* Add some hover effects to buttons */

.popupForm .btnSubmit:hover,
.opnBtn:hover {
	opacity: 1;
}
@media all and (min-width: 360px) and (max-width: 767px) {
	.navbur {
		display: flex;
		flex-direction: column;
	}

	.nav1 {
		flex: 1;
		/* border: 2px solid yellow; */
	}
}

@media all and (min-width: 768px) and (max-width: 1279px) {
}
@media all and (min-width: 1280px) and (max-width: 1920px) {
}
