header{
    background-color: rgb(189, 250, 48);
    margin-bottom: 50px;
    /* height: 500px; */
}
.title
{
    text-align: center;
}
.inputField{
    font-size: 40px;
    /* text-align: center; */
    align-content: center;
    /* align-self: center; */
}
body{
    background-color: cyan;
}