body{
    /* background-color: black; */
}
header{
    background-color: aqua;
    border-radius: 40px;

}
.logo
{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
.textInput
{
    font-size: 30px;
    text-align: center;
    margin: 30px;

}